<h1>Signup</h1>

<form action="/user/signup" method="POST">

<label for="username">Usuario:</label>
<input type="text" name="username">

<br>

<label for="password">Contraseña:</label>
<input type="password" name="password">

<br>



<br>
<h5 style="color : red ">{{errorMessage}}</h5>

<button>Registrar</button>

</form>